[submodule "stapel_workspaces"]
	path = svc-app/stapel_workspaces
	url = https://github.com/usestapel/stapel-workspaces.git
[submodule "stapel_billing"]
	path = svc-app/stapel_billing
	url = https://github.com/usestapel/stapel-billing.git
[submodule "stapel_core"]
	path = stapel_core
	url = https://github.com/usestapel/stapel-core.git
[submodule "stapel_notifications"]
	path = svc-app/stapel_notifications
	url = https://github.com/usestapel/stapel-notifications.git
[submodule "stapel_cdn"]
	path = svc-app/stapel_cdn
	url = https://github.com/usestapel/stapel-cdn.git
[submodule "stapel_translate"]
	path = svc-app/stapel_translate
	url = https://github.com/usestapel/stapel-translate.git
[submodule "stapel_auth"]
	path = svc-app/stapel_auth
	url = https://github.com/usestapel/stapel-auth.git
[submodule "stapel_profiles"]
	path = svc-app/stapel_profiles
	url = https://github.com/usestapel/stapel-profiles.git
[submodule "stapel_gdpr"]
	path = svc-app/stapel_gdpr
	url = https://github.com/usestapel/stapel-gdpr.git
